<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="description" content="Snap oNap is a game for improving your typing speed and your vocabulary.">
    <meta name="twitter:card" value="summary">
    <meta property="og:title" content="Snap oNap - Game of Words">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://snaponap.com/">
    <meta property="og:image" content="/public/SnapoNap.png">
    <meta property="og:description" content="Snap oNap is a game for improving your typing speed and your vocabulary.">

    <title>Snap oNap - Game of Words multi</title>
    <script defer src="http://localhost:8080/socket.io/socket.io.js"></script>
    <script defer src="root/script.js"></script>
    <link rel="stylesheet" href="/style/bootstrap.min.css">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
</head>
<body>
<div id="room-container">
    <% Object.keys(rooms).forEach(room => { %>
        <div><%= room %></div>
        <a href="/<%= room %>">Join</a>
    <% }) %>
</div>
<form action="/room" method="POST">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
</form>
</body>
</html>